.canvasWrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 2px solid var(--color-primary);
}

.canvas {
  width: 290px;
  height: 290px;
  background-image: /* tint image */ linear-gradient(
      to right,
      rgba(192, 192, 192, 0.75),
      rgba(192, 192, 192, 0.75)
    ),
    /* checkered effect */ linear-gradient(to right, black 50%, white 50%),
    linear-gradient(to bottom, black 50%, white 50%);
  background-blend-mode: normal, difference, normal;
  background-size: 29px 29px;
}

.canvasCaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px;
  color: var(--color-primary);
  background-color: var(--color-background);
}
