.wrap {
  display: flex;
  flex-direction: column;
}

.gap-null {
  gap: 0;
}

.gap-small {
  gap: 8px;
}

.gap-medium {
  gap: 16px;
}

.gap-large {
  gap: 24px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--color-primary);
  opacity: 0.3;
  border: none;
}
