.errorMessage {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid var(--color-error);
  gap: 16px;
}

.errorText {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-error);
  word-break: break-all;
  margin: 0;
}
