.wrap {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-primary);
}

.subtitle {
  font-size: 13px;
  line-height: 130%;
  font-weight: 500;
  color: var(--color-primary);
  opacity: 0.6;
}

h2,
p {
  margin: 0;
}
