.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  border-bottom: 1px solid var(--color-divider);
  transition: all 0.1s ease-in-out;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    border-bottom: 1px solid var(--color-secondary);

    &:last-child {
      border-bottom: none;
    }

    .icon {
      transform: translateX(-4px);

      svg {
        fill: var(--color-secondary);
      }
    }

    .label {
      color: var(--color-secondary);
    }
  }
}

.label {
  pointer-events: none;
  user-select: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  color: var(--main-text-color);
}

.icon {
  pointer-events: none;
  width: 16px;
  height: 16px;
  transition: all 0.1s ease-in-out;
}
