.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 6px;
}

.inputWrap {
  display: flex;
  gap: 8px;
  align-items: center;
}

.label {
  flex: 1;
}

.input {
  width: 45px;
  height: 24px;
  background: none;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-primary);
  border: none;
  outline: none;
  border: 2px solid transparent;
  transition: all 0.1s ease-in-out;

  // remove arrows from input
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:hover {
    border: 2px solid var(--color-grey-200-transparent);
  }

  &:focus-visible {
    border: 2px solid var(--color-secondary);
    background: var(--color-white);
  }
}

.range {
  cursor: pointer;
  width: 100%;

  &::after {
    z-index: 0;
    pointer-events: none;
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--color-primary);
    transition: all 0.1s ease-in-out;
  }

  input {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;

    margin: 0;
    width: 100%;

    &::-webkit-slider-thumb {
      position: relative;
      z-index: 1;
      -webkit-appearance: none;
      appearance: none;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: var(--color-white);
      border: 2px solid var(--color-primary);
      transition: all 0.1s ease-in-out;
    }
  }

  &:hover {
    input::-webkit-slider-thumb {
      border: 2px solid var(--color-secondary);
    }

    &::after {
      background: var(--color-secondary);
    }
  }
}
