.wrap {
  display: flex;
  flex-direction: column;
  padding: var(--container-padding);
  background-color: var(--color-background);
  height: 100%;
}

.description {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 30px 0;
  line-height: 140%;
  opacity: 0.6;
}
