.wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 14px;
  font-weight: 700;
  opacity: 0.5;
}

.textarea {
  border: 2px solid var(--color-primary);
  border-radius: var(--input-button-radius);
  padding: 6px 8px;

  font-size: 14px;
  color: var(--color-primary);
  font-weight: 500;

  transition: all 0.1s ease-in-out;

  &:hover,
  &:focus-visible {
    outline: none;
    border: 2px solid var(--color-secondary);
  }

  // placeholder
  &::placeholder {
    color: var(--color-primary);
    opacity: 0.5;
  }

  // remove resize
  resize: none;
}

.disabled {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;

  .textarea {
    background: var(--color-grey-100-transparent);
  }
}
