.coverImg {
  width: calc(100% + var(--container-padding) * 2);
  height: calc(160px + var(--container-padding) * 2);
  object-fit: cover;
  margin-top: calc(var(--container-padding) * -1);
  margin-left: calc(var(--container-padding) * -1);
  margin-bottom: calc(var(--container-padding) / 2);
}
